body {
    /*min-width: 1000px;*/
    background: radial-gradient(ellipse, #0793f1, transparent), radial-gradient(ellipse, #e43d1f, transparent);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

nav {
    background-color: rgb(27, 26, 26);
    border-radius: 1em;
    height: 3em;
    padding: 0.5em;
}

.container {
    color: beige;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 3em;
    width: 80%;
    margin: auto;
    align-content: center;
}
.title{
    font-size:  x-large;
    vertical-align: middle;
    margin-bottom: 500em;

}
.logo{
    vertical-align: middle;
    width:50px;
    height:35px;
}
.best-score{
    align-self: center;
    text-align: right;
    font-size: x-large;

}

#canv-container {
    margin: auto;
    margin-top: 20px;
    width: fit-content;
}

canvas {

    border-radius: 2em;
    margin: auto;
}
@media only screen and (min-width: 800px) {
    .title{
        font-size: 25px;   
    }
    .best-score{
        font-size: 25px ;
    }
    .logo{
        width:50px;
        height:35px;
    }
}
@media only screen and (max-width: 800px) {
    .title{
        font-size:  23px;   
    }
    .best-score{
        font-size: 23px;
    }
    .logo{
        width:40px;
        height:25px;
    }
}
@media only screen and (max-width: 500px) {
    .title{
        font-size:  18px;   
    }
    .best-score{
        font-size: 18px;
    }
    .logo{
        width:35px;
        height:20px;
    }
}