body {
    /*min-width: 1000px;*/
    background: radial-gradient(ellipse, #0793f1, transparent), radial-gradient(ellipse, #e43d1f, transparent);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

nav {
    background-color: rgb(27, 26, 26);
    border-radius: 1em;
    height: 3em;
    padding: 0.5em;
}

.container {
    color: beige;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 3em;
    width: 80%;
    margin: auto;
    align-content: center;
}
.title{
    font-size: 1.5em;
    vertical-align: middle;
    margin-bottom: 500em;

}
.logo{
    vertical-align: middle;
}


#canv-container {
    margin: auto;
    margin-top: 20px;
    width: fit-content;
}

canvas {

    border-radius: 2em;
    margin: auto;
}